.home-banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.171) 0%, rgba(0, 0, 0, 0.268) 100%), url('./../../assests/main-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;

}